/* Sayfanın tüm yüksekliğini kaplamak için */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Body'yi tam ekran yapmak için */
body {
  display: flex;
  flex-direction: column;
}

/* Ana içeriği ve footer'ı yukarı ve aşağıya hizalamak için */
.container {
  flex: 1;
}

