/* Sayfanın tüm yüksekliğini kaplamak için */
html, body, #__blaze-root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Body'yi tam ekran yapmak için */
#__blaze-root {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar, .footer {
  flex-shrink: 0;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
