.navbar-custom {
    background-color: #2a3884;
    position: relative;
    z-index: 1000;
    height: 80px;
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: #ffffff; /* Beyaz renk */
  }
  
  .navbar-custom .nav-link:hover {
    color: #d3d3d3; /* Açık gri renk */
  }

  .navbar-toggler {
    z-index: 1100;
  }

  .nav-link{
    margin-inline: 10px;
  }

  @media (max-width: 1024px) {
    .navbar-custom .navbar-collapse {
      background-color: #2a3884; /* Navbar arka plan rengi */
      position: absolute;
      top: 80px; /* .navbar-custom için belirlediğiniz yükseklik */
      left: 0;
      right: 0;
      z-index: 1000;
    }
  }
  
  