<template name="footer">
    <footer class="custom-footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h2 class="footer-heading"><p class="logo">LOREM IPSUM</p></h2>
                    <ul class="ftco-footer-social p-0">
                        <li class="ftco-animate"><a style="display: flex; justify-content: center; align-items: center;" href="https://whatsapp.com" target="_blank" data-toggle="tooltip" data-placement="top"
                                title="Twitter"><i class="fa-brands fa-whatsapp"></i></a></li>
                                <li class="ftco-animate"><a style="display: flex; justify-content: center; align-items: center;" href="https://instagram.com" target="_blank" data-toggle="tooltip" data-placement="top"
                                    title="Twitter"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li class="ftco-animate"><a style="display: flex; justify-content: center; align-items: center;" href="https://x.com" target="_blank" data-toggle="tooltip" data-placement="top"
                                        title="Twitter"><i class="fa-brands fa-x-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p class="copyright">
                        Copyright 2024 All rights reserved | This website is made <i class="ion-ios-heart"
                            aria-hidden="true"></i> by <a style="color: rgb(78, 6, 57);" href="https://bordo.io/" target="_blank">Bordo Bilişim Ticaret
                            A.Ş.</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</template>